## Introduction

Pandas is a generally used for Data Analysis. It allows importing data from various file formats ex. Json, csv, Sql, Excel, etc.

*Features* Data manipulation, Reading and Writing Data, Rashaping of data, Data Filteration, Data cleaning.

### Creating Dataframe
The best way to create a dataframe in python is to use *Dictionary*

### Install Pandas
`pip install pandas`

In [ ]:
import pandas as pd

dic_1 = {
    "car": ["City", "Ignis", "800", "Verna", "Venue", "Punto"],
    "brand": ["Honda", "Maruti", "Maruti", "Hyundia", "Hyundia", "Fiat"],
    "cost": [90000, 60000,100000,80000, 95000,75000],
    "year": [5,7,10,4,2,6]
}

auto = pd.DataFrame(dic_1);
auto

### Importing Dataframe

In [2]:
import pandas as pd

data=pd.read_csv('titanic.csv')

data.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data['Embarked'].value_counts()

In [ ]:
data['Sex'].unique()

### Accessing Columns

In [ ]:
data['Name']

In [ ]:
data[['Name', 'Sex', 'Pclass']]

### Accessing Rows

In [ ]:
data.iloc[0,:].values

In [ ]:
data.iloc[0:5, 4].values

In [ ]:
data.loc[0:5,['Name', 'Sex']]

### Filtering of data

In [ ]:
new_data = data['Sex']=='male'
new_data

### Sorting of data

In [ ]:
auto.sort_values('cost')

### Grouping and aggregation

In [ ]:
groups = data.groupby(['Sex'])

In [ ]:
groups.mean()

In [ ]:
groups.size()

In [ ]:
groups.count()