## Introduction

Pandas is a generally used for Data Analysis. It allows importing data from various file formats ex. Json, csv, Sql, Excel, etc.

*Features* Data manipulation, Reading and Writing Data, Rashaping of data, Data Filteration, Data cleaning.

### Creating Dataframe
The best way to create a dataframe in python is to use *Dictionary*

### Install Pandas
`pip install pandas`

In [4]:
import pandas as pd

dic_1 = {
    "car": ["City", "Ignis", "800", "Verna", "Venue", "Punto"],
    "brand": ["Honda", "Maruti", "Maruti", "Hyundia", "Hyundia", "Fiat"],
    "cost": [90000, 60000,100000,80000, 95000,75000],
    "year": [5,7,10,4,2,6]
}

auto = pd.DataFrame(dic_1);
auto

     car    brand    cost  year
0   City    Honda   90000     5
1  Ignis   Maruti   60000     7
2    800   Maruti  100000    10
3  Verna  Hyundia   80000     4
4  Venue  Hyundia   95000     2
5  Punto     Fiat   75000     6